<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Bibliotheque Communale</title>
	</head>

	<body>
		<!-- Titre du message à envoyé -->
		<header>
			<h1>Bonjour M./Mme <%= name %>,</h1>
		</header>

		<!-- Bloc du contenu centrale -->
		<main class="content">
			<p><%= content %></p>
      
      <!-- Devise de la bibliotheque -->
       <div style="display: flex; gap: 1rem;" class="">
        <span>Discipline</span>
        <span>-</span>
        <span>Ponctualité</span>
        <span>-</span>
        <span>Satisfaction</span>
       </div>
		</main>

		<!-- Pieds de page -->
		<footer>
			<p>cordilement la <a href="#">Bibliotheque Communale</a>.</p>
			<div>
				<a href="#">Whatsapp</a>
				<a href="#">Facebook</a>
				<a href="#">Instagram</a>
			</div>
      <span>Thank you to join us !</span>
		</footer>
	</body>
</html>
