<!doctype html>
<html lang="en">
	<head>
		<!-- Titre de la page  -->
		<title>Bibliotheque Communale</title>
		
		<!-- Liste des metas balise -->
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="bibliotheque communale de la ville de Yaoundé, à votre disposition pour emprunter, lire, écouter et discuter avec les autres menbres de la communauté.">
		<meta http-equiv="X-UA-Compatible" content="IE=7" />
		<meta name="authors" content="Barthez Kenwou">
	</head>

	<body>
		<!-- Titre du message à envoyé -->
		<header>
			<!-- Up Header -->
			<div class="flex py-4 bg-">
				<h1>Bibliotheque Communal</h1>
			</div>

			<!-- Down Header -->
			<h1>Bonjour M./Mme <%= name %>,</h1>
		</header>

		<!-- Bloc du contenu centrale -->
		<main class="content">
			<p><%- content %></p>
      
      <!-- Devise de la bibliotheque -->
       <div style="display: flex; gap: 1rem;" class="">
        <span>Discipline</span>
        <span>-</span>
        <span>Ponctualité</span>
        <span>-</span>
        <span>Satisfaction</span>
       </div>
		</main>

		<!-- Pieds de page -->
		<footer>
			<p>cordilement la <a href="#">Bibliotheque Communale</a>.</p>
			<div className="flex items-center gap-4">
				<a href="#">Whatsapp</a>
				<a href="#">Facebook</a>
				<a href="#">Instagram</a>
			</div>
      <span className="text-green-600">Merci de nous rejoindre !</span>
		</footer>
	</body>

	<!-- Link Tailwind CDN -->
	<script src="https://cdn.tailwindcss.com"></script>
</html>
